{header}
<body class="w3-light-gray">

{top_nav}

<!-- Top menu on small screens -->
<header class="bgimg w3-display-container w3-grayscale-min w3-opacity-min">
  <div class="w3-display-middle w3-center w3-xlarge w3-wide w3-animate-opacity tawny-port">
    <span class="w3-text-white" style="font-size:48px">COMPANY A<br>2019 ANNUAL RETREAT</span>
  </div>
</header>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->


<div class="{page_content_signed} page-content w3-grayscale w3-large">
    {side_nav}
  <div class="w3-content w3-margin-bottom">
    <div id="validation-top" class="w3-panel w3-red w3-content w3-card-4" style="display:none">
        
    </div>
    {view_content}
  </div>
</div>

<!-- End page content -->
<script>
{common_js}
let application = app();
application.start({js_options});
</script>


</body>
{footer}
