<a href="javascript:void(0)" class="w3-bar-item w3-button w3-left w3-hide-large w3-hide-medium" id="mobile-nav">&#9776;</a>
<span class="w3-bar-item">Matt Holmes</span>
<a href="#" class="w3-bar-item w3-button w3-hide-small">Home</a>
<a href="#" class="w3-bar-item w3-button w3-hide-small">Activities</a>
<a href="#" class="w3-bar-item w3-button w3-hide-small">Register</a>
<a href="#" id="sign-out" class="w3-bar-item w3-button w3-right">Sign Out</a>


<div id="mobile-nav-links" class="w3-bar-block w3-dark-gray w3-hide w3-hide-large w3-hide-medium">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#" class="w3-bar-item w3-button">Activities</a>
  <a href="#" class="w3-bar-item w3-button">Register</a>
</div>
