<div class="w3-container tawny-port">
  <h2>Registation Complete</h2>
</div>
<article class="w3-container w3-card-4 w3-sand">
  <p>We look forward to seeing you!  Feel free to edit any of your previous selections.</p>
  <div class="w3-bar w3-border w3-light-grey">
      <a href="register-rsvp" class="w3-bar-item w3-button" style="width:25%">Rsvp</a>
      <a href="register-profile" class="w3-bar-item w3-button" style="width:25%">Profile</a>
      <a href="register-activities" class="w3-bar-item w3-button" style="width:25%">Activities</a>
      <a href="register-hotel" class="w3-bar-item w3-button" style="width:25%">Hotel</a>
 </div>
 <br>
</article>
