<div class="w3-container tawny-port">
  <h2>Sign In</h2>
  <h3>Don't have an account?  <a href="sign-up">Sign up here</a></h3>
</div>
<form class="w3-container w3-card-4 w3-sand">
  <p>
  <label class="w3-text-grey">Username</label>
  <input class="w3-input w3-border" type="text" required="true">
  </p>
  <p>
  <label class="w3-text-grey">password</label>
  <input class="w3-input w3-border" type="password" required="true">
  </p>
  <p><button type="button" id="submit" class="w3-btn w3-padding w3-dark-grey" style="width:120px">Submit &nbsp; ❯</button></p>
</form>
