<div class="w3-container tawny-port">
  <h2>Sign Up</h2>
</div>
<form class="w3-container w3-card-4 w3-sand">
  <p>
    <label class="w3-text-grey">First Name</label>
    <input name="first_name" class="w3-input w3-border w3-leftbar" type="text" required="true">
  </p>
  <p>
    <label class="w3-text-grey">Last Name</label>
    <input name="last_name" class="w3-input w3-border w3-leftbar" type="text" required="true">
  </p>
  <p>
    <label class="w3-text-grey">Email</label>
    <input name="email" class="w3-input w3-border w3-leftbar" type="text" required="true">
  </p>
  <p>
    <label class="w3-text-grey">Username</label>
    <input name="username" class="w3-input w3-border w3-leftbar" type="text" required="true">
  </p>
  <p>
    <label class="w3-text-grey">Password</label>
    <input name="password" class="w3-input w3-border w3-leftbar" type="password" required="true">
  </p>
  <p>
    <label class="w3-text-grey">Confirm Password</label>
    <input name="confirm_password" class="w3-input w3-border w3-leftbar" type="password" required="true">
  </p>
  <p><button type="button" id="submit" class="w3-btn w3-padding w3-dark-grey" style="width:120px">Submit &nbsp; ❯</button></p>
</form>
