.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://s3.us-east-2.amazonaws.com/mholmes-event-reg-site-static/vegas_banner.jpg");
  min-height: 43%;
  height: 500px;
}


.nav-block {
  padding-top: 524px;
}

.page-content {
  padding-top: 64px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 64px;
  padding-bottom: 64px;
  min-height: 900px;
}

.w3-content {
  max-width:1100px;
}
.tawny-port {
  color:#fff;
  background-color:#672e3b
}
